<div id="<%= dom_id user_story %>">
  <p>
    <strong>Milestone:</strong>
    <%= user_story.milestone_id %>
  </p>

  <p>
    <strong>Descriptive name:</strong>
    <%= user_story.descriptive_name %>
  </p>

  <p>
    <strong>Membership:</strong>
    <%= user_story.membership_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= user_story.project_id %>
  </p>

  <p>
    <strong>Estimated completion date:</strong>
    <%= user_story.estimated_completion_date %>
  </p>

</div>
