<%= form_with(model: milestone) do |form| %>
  <% if milestone.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(milestone.errors.count, "error") %> prohibited this milestone from being saved:</h2>

      <ul>
        <% milestone.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :project_id, style: "display: block" %>
    <%= form.number_field :project_id %>
  </div>

  <div>
    <%= form.label :estimated_completion_date, style: "display: block" %>
    <%= form.date_field :estimated_completion_date %>
  </div>

  <div>
    <%= form.label :descriptive_name, style: "display: block" %>
    <%= form.text_area :descriptive_name %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_area :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
