<div id="<%= dom_id milestone %>">
  <p>
    <strong>Project:</strong>
    <%= milestone.project_id %>
  </p>

  <p>
    <strong>Estimated completion date:</strong>
    <%= milestone.estimated_completion_date %>
  </p>

  <p>
    <strong>Descriptive name:</strong>
    <%= milestone.descriptive_name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= milestone.status %>
  </p>

</div>
