<div id="<%= dom_id issue %>">
  <p>
    <strong>Description:</strong>
    <%= issue.description %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= issue.task_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= issue.status %>
  </p>

  <p>
    <strong>Resolution explanation:</strong>
    <%= issue.resolution_explanation %>
  </p>

</div>
