<div id="<%= dom_id project %>">
  <p>
    <strong>Project name:</strong>
    <%= project.project_name %>
  </p>

  <p>
    <strong>Budget amount:</strong>
    <%= project.budget_amount %>
  </p>

  <p>
    <strong>Project description:</strong>
    <%= project.project_description %>
  </p>

  <p>
    <strong>Estimated completion date:</strong>
    <%= project.estimated_completion_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= project.status %>
  </p>

  <p>
    <strong>Skillset requirements:</strong>
    <%= project.skillset_requirements %>
  </p>

</div>
